.introduce_app {

    padding: 60px 0;


}

.background-1 {

    background-color: var(--background-1);
}

.background-2 {

    background-color: #f1f1f1;
}

.introduce_app_content {
    flex-wrap: nowrap;

}

.introduce_app_content {}

.introduce_img {
    margin-right: 36px;
    width: calc(50% - 36px);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 16px rgb(128 96 16 / 12%);
}

.introduce_img.right {
    margin-left: 36px;
}


.introduce_img img {

    min-height: 100%;
    object-fit: cover;
}

.introduce_content {}

.introduce_content_heding {
    font-size: 20px;
    color: var(--text);
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: "Mulish Max";

}

.introduce_content p,.social_network {
    font-size: 18px;
    font-family: "Mulish";
    margin-bottom: 12px;
    margin-bottom: 12px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5;
}

.introduce_content img {
    width: 63%;
    margin-bottom: 1rem;
}

.introduce_content_VISION{
    font-size: 18px;
    font-family: "Mulish SemiBold"; 
    color: var(--xanh-la2);
}
