@font-face {
    font-family: 'Mulish';
    src: url(../font/Mulish/Mulish-VariableFont_wght.ttf);

}

@font-face {
    font-family: 'Mulish Medium';
    src: url(../font/Mulish/static/Mulish-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Mulish SemiBold';
    src: url(../font/Mulish/static/Mulish-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Mulish Bold';
    src: url(../font/Mulish/static/Mulish-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Mulish Max';
    src: url(../font/Mulish/static/Mulish-Bold.ttf);
    font-weight: 800;
}





body {
    min-height: 100vh;
}
#app_body{
    background-color: var(--background-1);
}

:root {
    --text: #333;

    --title: #F2726A;
    --text-content: #373737;
    --xanh-la: #83bd42;
    --xanh-la2: #589f47;
    --background-1: #fff9ef;
    --background-2: #fff3e2;
    --red-button: #FF847C;
    --yellow-text: #FFD600;
    --lightblue-background: #009AF1;

}

a,
a:hover,
a:visited,
a:focus {
    text-decoration: none;

}

body {
    font-family: 'Mulish';
    font-style: normal;
    line-height: 22px;
    font-size: 16px;

    color: var(--text);
    text-align: justify;
}

h1 {
    font-family: 'Playfair Display';
    font-style: normal;

    font-size: 36px;
    line-height: 30px;
    margin: 0;
}

h2 {
    font-family: 'Playfair Display';
    font-style: normal;

    font-size: 30px;
    line-height: 30px;
    margin: 0;
}

h3 {
    font-family: 'Mulish';
    font-style: normal;

    font-size: 24px;
    line-height: 35px;
    margin: 0;
}

h4 {
    font-family: 'Mulish';
    font-style: normal;

    font-size: 20px;
    line-height: 26px;
    margin: 0;
}

h5 {
    font-family: 'Mulish';
    font-style: normal;

    font-size: 20px;
    line-height: 30px;
    margin: 0;
}

h6 {
    font-family: 'Mulish';
    font-style: normal;

    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

ul,
li {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

img {
    object-fit: contain;
    object-position: 50% 50%;
    max-width: 100%;
    height: auto;
}

.row>* {
    padding: 0;
}

.btn {
    padding: 0px 36px;
    text-align: center;
    line-height: 44px;
    font-family: "Mulish Bold";
    border-radius: 40px;

}

.btn:hover {
    background-color: #adda7a;
}

.btn{
    color: #fff !important;
    font-size: 18px !important;
}

section {
    width: 100%;
    height: 100%;
}
.menu-cart:hover .header__catr-list{
    display: block;
    
} 

.header__catr-icon{
    margin-top: 6px;
    font-size: 2.4rem;
    color: var(--white-color);
}
.header__catr-list{
    position: absolute;
    top:122%;
    right: 1px;
    background-color: white;
    width: 380px;
    border-radius: 3px;
    box-shadow: 0 2px 10px #ccc;
    padding: 15px 0;
    animation: fadein ease-in-out 0.2s;
    display: none;
    z-index: 1;

    }
.header__catr-heding{
     text-align: left;
     margin: 8px 0 8px 12px;
     color: #999;
     font-size: 1.4rem;
     font-weight: 400;
}
.header__catr-list-tiem{
    padding-left: 0;
    list-style: none;
    height: 250px;
    overflow-y: auto;
}    
.header__cart-tiem{
    display: flex;
    align-items: center;
}
.header__cart-tiem:hover{
    background-color: #F8F8F8;
}
.header__cart-img{
    width: 42px;
    height: 42px;
    border: 1px solid black;
    border-radius: 10%;
    margin: 12px;

}
.header__catr-tiem-info{
    width: 100%;
    margin-right: 12px;
}
.header__catr-tiem-header{
   display: flex;
   align-items: center;
   justify-content: space-between;
  

}
.header__catr-tiem-name{
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    color: var(--text-color);
    font-weight: 500;
    margin: 0;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}
.header__catr-tiem-price{
    font-size: 1.4rem;
    color: var(--xanh-la);
    font-weight: 400;
}
.header__catr-tiem-math{
   font-size: 0.9rem;
   color: #757575;
   margin: 0 4px;
}
.header__catr-tiem-qnt{
    font-size: 1.2rem;
    color: #757575;
}
.header__catr-list-tiem-body{
   display: flex;
   justify-content: space-between;
}
.header__catr-tiem-description{
    color: #757575;
    font-size: 1.3rem;
    font-weight:300 ;
}
.header__catr-tiem-remove{
    color: var(--text-color);
    font-size: 1.4rem;
}
.header__catr-tiem-remove:hover{
    color: var(--xanh-la);
    cursor: pointer;
}
.header__catr-view-cart{
    float: right;
    margin: 0 12px 12px 0;
    background-color: var(--xanh-la);
}
.header__catr-view-cart:hover{
    background-color: var(--xanh-la);
    cursor: pointer;
}
.header__catr-list{
  padding: 0;
}
.header__catr-list:after{
        position: absolute;
        content:"";
        right: -1px;
        top: -25px;
        border-width: 16px 25px;
        border-style: solid;
        border-color: transparent transparent white transparent;
       
        
}
.header__catr-no-cart-img{
       width: 45%;
       
}